.btn {
    display: flex;
    padding: 1px;
    align-items: center;
}

.btn-back {
    @include font(normal, 400, 18px, 21px);
    background-color: $bg-color;
    padding-left: 1px;
    display: block;

} 
.back-arrow {
    scale: 1.3;
}