.home-page__actions {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.home-page__header {
    color: #344050;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;

}