.search__form {
    width: 320px;
    height: 36px;
    border: 1px solid #D8E2EE;
    border-radius: 18px;
    padding-left: 35px;
}
.search__form :focus {
    border: 1px solid #D8E2EE;;
}
.serch {
    position: relative;
    width: 30%;
}
.search__icon {
    position: absolute;
    left: 10px;
    top: 10px;
}