// imports
@import './variables';
@import '../BackBtn/backbtn';
@import '../Pagination/pagination';
@import '../ProductCard/productCard';
@import '../ProductItem/productItem';
@import '../ProductList/productList';
@import '../SearchForm/searchfrom';
@import '../Sort/sort';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Comfortaa', sans-serif;
    outline: none;

}
button {
    border: none;
    cursor: pointer;
}
a {
    color: #4D5969;
}
.home-page__wrapper {
    max-width: 1204px;
    margin: 0 auto;
}

